<main></main>
<div class="d-flex justify-content-center align-items-center">
    <h1>Recuperar password</h1>
    <form action="/change-pass" method="POST" class="form-group">
        <input type="email" name="email" class="form-control" required>
        <input type="password" name="newPassword" class="form-control" placeholder="Ingrese la nueva contraseña" required>
        <button type="submit">Enviar</button>
    </form>
</div>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</main>