<main></main>
    <div class="d-flex justify-content-center align-items-center">
        <h1>Login</h1>
        <form action="/login" method="POST" class="form-group">
            <input type="text" name="email" class="form-control" part="email">
            <input type="text" name="password" class="form-control" part="pass">
            <button>Enviar</button><br>
            <a href="/register">Register</a><br>
            <a href="/change-pass">¿Olvidaste tu contraseña?</a><br>
        </form>
    </div>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</main>