<main>
    <div class="d-flex justify-content-center align-items-center">
        <h1>Register</h1>
        <form action="/register" method="POST" class="form-group w-50">
            <input type="text" name="first_name" class="form-control" placeholder="nombre">
            <input type="text" name="last_name" class="form-control" placeholder="apellido">
            <input type="text" name="email" class="form-control" placeholder="email">
            <input type="text" name="password" class="form-control" placeholder="pass">
            <button>Enviar</button>
            <a href="/login">Login</a>
        </form>
    </div>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</main>