body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#form-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

#product-form {
    display: flex;
    flex-direction: column;
}

#product-form div {
    margin-bottom: 10px;
}

#product-list {
    margin: 20px;
    padding: 20px;
}

.foto_producto{
    width: 200px;
    height: 200px;
}