<h2 id="header">Agregar producto</h2>
<form id="form">
  <div>
    Titulo: <input type="text" id="title" maxlength="25">
  </div>

  <div>
    Descripcion: 
    <textarea id="description" maxlength="100"></textarea>
  </div>

  <div>
    Codigo: <input type="text" id="code" maxlength="6" required>
  </div>

  <div>
    Precio: <input type="text" id="price" maxlength="10">
  </div>

  <div>Estado: <input type="checkbox" id="status"></div>

  <div>
    Stock: <input type="text" id="stock" maxlength="6"></div>
  </div>

  <div>
    Categoria: <input type="text" id="category" maxlength="15">
  </div>

</div>
  <input type="file" id="thumbnails">
  <button id="agregar" type="button">Agregar Producto</button>
  <button id="confirmarCambios" style="display:none;">Confirmar cambios</button>
</form>

<h2>Lista de productos: </h2>
<div id="product-list"></div>

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<link rel="stylesheet" type="text/css" href="/css/realtime.css">
<script src="socket.io/socket.io.js"></script>
<script type="module" src="/js/realTimeProducts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
