<main>
    <div class="d-flex justify-content-center align-items-center">
        <h1>Login</h1>
        <form action="/users/login" method="POST" class="form-group">
            <input type="text" name="email" class="form-control" part="email" placeholder="Correo electrónico." required minlength="8" maxlength="35">
            <input type="password" name="password" class="form-control" part="pass" placeholder="Password." required minlength="8" maxlength="20">
            <button>Iniciar sesión</button><br>
            <a href="/users/register">Register</a><br>
            <a href="/users/change-pass">¿Olvidaste tu contraseña?</a><br>
        </form>
    </div>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</main>